# Pandas Customer Orders Exercise

## Learning Objectives
By the end of this notebook, you will be able to:
* Review foundational DataFrame methods: `head()`, `describe()`, `info()`
* Filter data using boolean indexing
* Concatenate DataFrames
* Merge DataFrames using keys

## Step 1: Load Your Data

In [ ]:
import pandas as pd

# load the datasets
customers1 = pd.___("customers1.csv")
customers2 = pd.___("customers2.csv")
orders = pd.___("orders.csv")

# preview the first few rows
customers1.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,4/17/2021,https://goodwin-ingram.com/

In [2]:
customers2.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,4/22/2022,http://merritt.com/

In [3]:
orders.head()

     Order ID      Customer Id  Order Date  Order Amount
0  ORD-850020  DD37Cf93aecA6Dc  2022-11-13         69.15
1  ORD-727234  1Ef7b82A4CAAD10  2022-07-11        103.70
2  ORD-566960  1Ef7b82A4CAAD10  2022-06-21        282.11
3  ORD-405628  1Ef7b82A4CAAD10  2022-02-15        246.35
4  ORD-278274  6F94879bDAfE5a6  2022-08-21        305.91

In [ ]:
# challenge: Use a pandas method to see how many rows and columns are in each of the three datasets

## Step 2: Basic Review of Pandas Methods

In [ ]:
# check data-types and non-null count
customers1.___()

In [ ]:
# calculate descriptive statistics
customers1.___()

In [ ]:
# challenge: Filter the `customers1` dataset to only include customers from "Chile"

## Step 3: Concatenating DataFrames

In [ ]:
# combine customer files
customers_all = pd.___([___, ___])

customers_all.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,-9892,stanleyblackwell@benson.org,6/2/2020,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,4/17/2021,https://goodwin-ingram.com/

In [5]:
# get new shape
customers_all.shape

(200, 12)

In [ ]:
# challenge: use a pandas method to check whether the final `customers_all` DataFrame has any duplicated `Customer Id` values after concatenation.

## Step 4: Merging Customers and Orders

In [ ]:
merged_df = pd.merge(orders, customers_all, on="____")

merged_df.head()

,Order ID,Customer Id,Order Date,Order Amount,Index,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,ORD-850020,DD37Cf93aecA6Dc,2022-11-13,69.15,1,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,8/24/2020,http://www.stephenson.com/
1,ORD-727234,1Ef7b82A4CAAD10,2022-07-11,103.70,2,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
2,ORD-566960,1Ef7b82A4CAAD10,2022-06-21,282.11,2,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
3,ORD-405628,1Ef7b82A4CAAD10,2022-02-15,246.35,2,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,4/23/2021,http://www.hobbs.com/
4,ORD-278274,6F94879bDAfE5a6,2022-08-21,305.91,3,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,-1199,(496)978-3969x58947,beckycarr@hogan.com,3/25/2020,http://www.lawrence.com/

In [ ]:
# challenge: how can we calculate how much sherly baxter ordered in total? use yesterdays syntax